<div class="courses-view-container">

  <div class="course-view-header">

  </div>

  <div class="courses-view-list">
    @for (course of courses; track $index){
      <div class="list-item">
        <div class="course-primary-info">
          <h3>{{course.name}}</h3>
          <small>Мова курсу: {{Language[course.language]}}</small>
          <small>Автор: <b><a routerLink="/user/{{course.author.id}}">{{course.author.username}}</a></b></small>
        </div>
        <div class="course-secondary-info">
          <div>
            <span>{{course.description}}</span>
          </div>
          <div class="small-corner-info">
            <small>Кількість студентів: {{course.studentsCount}}</small>
            <small>Кількість модулів: {{course.modulesCount}}</small>
            <small>Востаннє оновлено: {{course.updatedOn.toLocaleDateString()}}</small>
            <small>Створено: {{course.createdOn.toLocaleDateString()}}</small>
          </div>
        </div>
      </div>
    }
  </div>

</div>
