.authorize-container{
  width: 100%;
  height: 80%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.content{
  margin: auto 0;
  text-align: center;
}
p{
  margin-top: 1rem;
}
.group-buttons{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.group-buttons button{
  border-radius: 0.75rem;
  color: white;
}
.group-buttons > *:last-child{
  margin-left: 1rem;
}
.register{
  border: 1px solid white;
}
.login {
  border: 1px solid white;
}
