<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Створити новий курс</h2>
    <mat-form-field appearance="outline">
      <mat-label>Назва</mat-label>
      <input matInput formControlName="name">
      @if (form.get('name')?.invalid) {
        <mat-error>Назва обов'язкова</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Оберіть мову курсу</mat-label>
      <mat-select formControlName="language">
        <mat-option value="0">Українська</mat-option>
        <mat-option value="1">Англійська</mat-option>
      </mat-select>
      @if (form.get('language')?.invalid) {
        <mat-error>Оберіть мову курсу</mat-error>
      }
    </mat-form-field>

    <button mat-button color="primary" type="submit">Відправити</button>
  </form>
</div>
