<div class="users-list-container">
  <div class="users-list-header">
    <h2>Користувачі</h2>
  </div>

  @for (user of users; track $index){
    <section class="user-item">
      <img class="left-side" [src]="user.picture ?? 'images/empty-profile-image.png'" alt="User picture">
      <div class="right-side">
        <div class="col">
          <div>Ім'я користувача: <a routerLink="/user/{{user.id}}">{{user.username}}</a></div>
          <div class="mt">Ім'я: <b>{{user.firstName}}</b></div>
        </div>
        <div class="col">
          <div>Прізвище: <b>{{user.lastName}}</b></div>
          <span class="badge mt" [ngClass]="user.role == AppRole.Admin ? 'red' : user.role == AppRole.Moderator ? 'blue' : user.role == AppRole.Creator ? 'yellow' : 'green'">{{AppRole[user.role]}}</span>
        </div>
        <div class="col">
          @if(this.authService.sessionData | async; as session){
            @if(session.username == user.username){
              <em>Це ваш користувач.</em>
            } @else {
              <a href="javascript:void(0)" (click)="showChangeRoleModal({id: user.id, name: user.username})">Змінити роль</a>
            }
          } @else {
            <a href="javascript:void(0)" (click)="showChangeRoleModal({id: user.id, name: user.username})">Змінити роль</a>
          }
        </div>
      </div>
    </section>
  }
</div>
