.homepage-container{
  padding: 1.5rem;
}
section{
  border-radius: 0;
  background-color: unset;
  text-align: center;
  min-height: 400px;
  display: flex;
}
section:not(:first-child){
  margin-top: 1.5rem;
}
p{
  font-size: 1.1rem;
}
section.banner{
  height: 80vh;
  width: 100%;
}
section > .content{
  margin: auto;
  width: fit-content;
}
p{
  opacity: 0;
  margin-top: 1rem;
}
.banner-content > p{
  font-size: 1.25rem;
}
h1{
  font-size: 3rem;
}
.fadeInUp{
  opacity: 0;
  transform: translateY(30px);
}
.anim-delay-sm{
  animation-delay: 0.15s !important;
}
.anim-delay-md{
  animation-delay: 0.3s !important;
}
.anim-delay-lg{
  animation-delay: 0.45s !important;
}
.fadeInUp.show{
  animation: fadeInUp 0.8s ease-out forwards;
}
#food-icon{
  margin-top: 1.5rem;
  height: 100px;
  width: 100px;
}
button{
  border-radius: 0.75rem;
  color: white;
}
button.purple{
  background-color: var(--dark-purple);;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
