<div class="homepage-container">
  <section class="banner">
    <div class="content banner-content">
      <h1 class="fadeInUp show anim-delay-sm">Code Breakfast</h1>
      <p class="fadeInUp show anim-delay-md">Кодинг має бути легким, як сніданок! :)</p>
      <img class="fadeInUp show anim-delay-lg" id="food-icon" src="/images/pizza-icon.svg">
    </div>
  </section>
  <section>
    <div class="content">
      <h2 class="fadeInUp scroll-show anim-delay-sm">Українська платформа для зручного та легкого вивчення програмування</h2>
      <p class="fadeInUp scroll-show anim-delay-md">Вивчайте програмування за допомогою відео- або текстових курсів, перевіряйте свої знання за допомогою тестів</p>
    </div>
  </section>
  <section>
    <div class="content">
      <h2 class="fadeInUp scroll-show anim-delay-sm">Code Breakfast - це не просто платформа з курсами, це ціла спільнота розробників!</h2>
      <p class="fadeInUp scroll-show anim-delay-md">Шукайте однодумців, знаходьте менторів, - ми ще й соцмережа для програмістів :)</p>
    </div>
  </section>
  <section>
    <div class="content">
      <button class="fadeInUp scroll-show anim-delay-sm purple" mat-button routerLink="/authorize">Почати навчання!</button>
    </div>
  </section>
</div>
