mat-form-field {
  display: block;
  width: 100%;
  margin-top: 0.75rem;
}
form>h2{
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 auto 1.5rem auto;
  padding: 0.5rem;
  width: fit-content;
}
form{
  padding: 1.5rem;
  width: 240px;
  margin: 1rem auto;
}
form>button.mdc-button {
  border-radius: 0.75rem;
  display: block;
  background-color: var(--mat-sys-on-primary);
  margin: 1rem auto 0;
}
