section{
  height: 100%;
}
form{
  margin-top: 2rem;
}
.blue-text-btn{
  cursor: pointer;
  background: none;
  color: darkblue;
  border: none;
  outline: none;
}
#username{
  outline: none;
  border: none;
  background: none;
  margin-left: 1rem;
}
.form-control{
  display: flex;
}
label.firstName, label.lastName{
  margin-top: 21px;
  width: 6rem;
}
.form-row{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  max-width: 700px;
  flex-wrap: wrap;
}
.form-row:not(:first-child){
  margin-top: 1rem;
}
.form-row:first-child{
  margin-bottom: 3rem;
}
