section{
  height: 100%;
}
form{
  margin-top: 2rem;
}
.blue-text-btn{
  cursor: pointer;
  background: none;
  color: blue;
  border: none;
  outline: none;
}
#username{
  outline: none;
  border: none;
  background: none;
  margin-left: 1rem;
}
.form-control{
  display: flex;
}
label.firstName, label.lastName{
  margin-top: 21px;
  width: 6rem;
}
.right-side{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.right-side>*:not(:first-child){
  margin-top: 1.25rem;
}
.right-side>*:first-child{
  margin-bottom: 1rem;
}
.left-side{
  width: 240px;
  margin: 0 auto;
}
form{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
#profile-picture{
  width: 240px;
  height: 240px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
}
