<section>
  <form [formGroup]="userForm">
    <div class="left-side">
      <label for="profilePictureInput">
        <img #profile_picture id="profile-picture" alt="Profile picture">
      </label>
      <input id="profilePictureInput" type="file" (change)="updateUserProfilePicture($event)" hidden>
    </div>
    <div class="right-side">
      <div class="form-control">
        <label for="username">Ім'я користувача: </label>
        <input #username
               formControlName="username"
               type="text"
               id="username"
               placeholder="Не вказано"
               (keyup.enter)="save()"
        />
        <button
          type="button"
          (click)="enableUsernameEditing()"
          class="blue-text-btn"
        >
          Змінити
        </button>
      </div>
      <div class="form-control">
        <label class="firstName" for="firstName">Ім'я: </label>
        <mat-form-field>
          <input matInput name="firstName" formControlName="firstName" placeholder="Введіть ваше ім'я" (keyup.enter)="save()">
        </mat-form-field>
      </div>
      <div class="form-control">
        <label class="lastName" for="lastName">Прізвище: </label>
        <mat-form-field>
          <input matInput name="lastName" formControlName="lastName" placeholder="Введіть ваше прізвище" (keyup.enter)="save()">
        </mat-form-field>
      </div>
    </div>
  </form>
</section>
