header{
  height: var(--header-height);
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--mat-sys-on-primary);
}
header>*:first-child, header>*:last-child{
  width: 30%;
}
.header-filler{
  display: block;
  position: static;
  height: var(--header-height);
  width: 100%;
}
header h1{
  margin: auto 0;
}
mat-nav-list{
  display: flex;
}
mat-nav-list:has(mat-list-item:nth-child(2)){
  mat-list-item:not(:first-child){
    border-left: 2px solid black;
  }
}
mat-nav-list > mat-list-item{
  box-sizing: border-box;
  width: max-content;
  height: calc(100% - 0.5rem);
  margin: auto 0;
  border-radius: 0;
}
mat-nav-list{
  padding: 0;
}
header > .group-buttons{
  display: flex;
  justify-content: right;
  margin: auto 0;
}
header > .group-buttons button{
  border-radius: 0.75rem;
  color: white;
}
header > .group-buttons > *:last-child{
  margin-left: 1rem;
}
.register{
  background-color: var(--dark-purple);
}
.login {
  border: 1px solid white;
}
h1:hover{
  cursor: pointer;
}
