/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

:root{
  --header-height: 4rem;
  --dark-purple: #2f045c;
}

html{
  color-scheme: dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

section>header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

p{
  margin: 0;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

h1{
  font-size: 1.75rem;
  margin: 0;
}

h2{
  margin: 0;
}

h3{
  margin: 0;
}

html{
  font-size: 14px;
}

/* Form styles */
mat-form-field {
  display: block;
  width: 100%;
  margin-top: 0.75rem;
}
form>h2{
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 auto 1.5rem auto;
  padding: 0.5rem;
  width: fit-content;
}
form{
  padding: 1.5rem;
  width: 240px;
  margin: 1rem auto;
}
form>button.mdc-button {
  border-radius: 0.75rem;
  display: block;
  background-color: var(--mat-sys-on-primary);
  margin: 1rem auto 0;
}
@media (max-width: 720px) {
  html{
    font-size: 14px;
  }
}
@media (max-width: 560px) {
  html{
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .small-hidden {
    display: none !important;
  }
}
ngx-charts-legend{
  position: absolute;
  left: 0;
}
.legend-title > span.legend-title-text{
  display: none;
}
.ngx-charts-outer{
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
ngx-charts-scale-legend{
  margin-top: 1rem;
}
